<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Erro Fatal</title>
        <link rel="stylesheet" type= "text/css" href= "{{url_for('static',filename='css/404.css')}}">
    </header>
    <body>
        <div class="wrapper row2">
            <div id="container" class="clear">
                <div id="fof" class="clear">
                    <div class="hgroup">
                        <h1>Erro 404</h1>
                        <h2>Uau! Página não encontrada&hellip;</h2>
                    </div>
                    <img src="{{url_for('static',filename='images/404.png')}}" alt="" />
                    <p>Por alguma razão, a página que você solicitou não pode ser encontrada em nosso servidor</p>
                </div>
            </div>
        </div>
    </body>
</html>
